body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background-color: #282c34;
    margin-top: 80px;
}

.total-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 120px 60px 120px;
    min-width: 1000px;
}

.left-side {
    margin-right: 30px;
    min-width: 600px;
}

.board-container {
    height: 200px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

.tab {
    overflow: hidden;
    border-bottom: 2px solid white;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #ffffff;
    font-weight: 500;
}

.tab button:hover {
    color: #ffffff;
}

.tab button.active {
    color: #78affa;
}

.tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tab-content.active {
    display: block;
}

.base-content {
    height: 300px;
    text-align: center;
    border: white 2px solid;
    margin-top: 50px;
    border-radius: 10px;
}

.right-side {
    min-width: 300px;
}

.side-bar {
    height: 550px;
    text-align: center;
    border: white 2px solid;
    margin-left: 30px;
    border-radius: 10px;
}
