* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    background: #c9d6ff linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container {
    width: 260px;
    height: 50px;
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid rgba(255, 0, 0, 0.75);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.form-container {
    width: 260px;
    height: 300px;
    background-color: rgba(255, 255, 255, .3);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
}

.login-title {
    cursor: default;
    text-align: center;
    margin: 30px;
}

.form-group {
    margin-bottom: 16px;
}

.login-failed {
    color: #ef3939;
    font-weight: 500;
    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;
}

.error-message {
    flex: 1;
    text-align: left;
    font-size: 14px;
}

.close-button {
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

.login-button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    background-color: #6e9ff6;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: white;
}

.login-button:hover {
    background-color: #5b93f6;
}

.login-button:focus {
    background-color: #9ebef6;
    cursor: not-allowed;
}

.form-control {
    width: 100%;
    height: 30px;
    border-style: solid;
    border-color: #969696;
    border-width: 1px;
    border-radius: 4px;
    margin-top: 3px;
    padding: 5px;
    outline: none;
}

.form-control:focus {
    border-style: solid;
    border-width: 2px;
    border-color: #6e9ff6;
}